<!doctype html>
<html lang="pt-br" ng-app="lcv2" ng-controller="Lcv2Controller as vm">
<head>
  <meta charset="utf-8">
  <title>
    LatinCouver Management test
  </title>
  <meta content="" name="description">
  <meta content="width=device-width" name="viewport">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/angular-toastr/2.1.1/angular-toastr.min.css" rel="stylesheet">
  <link href="https://unpkg.com/angular-toastr/dist/angular-toastr.css" rel="stylesheet">
  <link href="style.css" rel="stylesheet"/>
</head>
<body>
  <header class="container-fluid">
    <nav class="navbar navbar-default" ng-if="vm.isAuthenticated()">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#!/home">Home</a></li>
          <li><a href="#!/event">Events</a></li>
          <li><a href="#!/plaza">Plaza</a></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Others <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#!/settings">Settings</a></li>
            <li><a href="#!/trade">Trade</a></li>
            <li><a href="#!/trade-link">Trade-link</a></li>
            <li><a href="#!/trade-group">Trade-group</a></li>
            <li><a href="#!/trade-product">Trade-product</a></li>
            <li><a href="#!/trade-type">Trade-type</a></li>
          </ul>
        </li>
          <li><a href="" ng-click="vm.logout()">Logout</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="container-fluid" ng-if="::false">
    <div class="jumbotron">
      <center>
        <h3>
          Loading, please wait...
        </h3>
        <img ng-src="assets/loading.gif"/>
      </center>
    </div>
  </div>
  <content>
    <div ng-view ng-show="vm.isAuthenticated()"></div>
  </content>
  <login ng-show="!vm.isAuthenticated()"></login>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-toastr/2.1.1/angular-toastr.min.js"></script>
  <script src="https://unpkg.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/satellizer/0.14.1/satellizer.min.js"></script>
  <script src="app/app.module.js"></script>
  <script src="app/app.config.js"></script>
  <script src="app/app.route.js"></script>
  <script src="app/event/event.module.js"></script>
  <script src="app/home/home.module.js"></script>
  <script src="app/plaza/plaza.module.js"></script>
  <script src="app/settings/settings.module.js"></script>
  <script src="app/trade/trade.module.js"></script>
  <script src="app/trade/trade-group.module.js"></script>
  <script src="app/trade/trade-link.module.js"></script>
  <script src="app/trade/trade-product.module.js"></script>
  <script src="app/trade/trade-type.module.js"></script>
  <script src="app/login/login.module.js"></script>
  <script src="app/shared/constants.js"></script>
  <script src="app/shared/factories/factory.js"></script>
  <script src="app/shared/services/data.service.js"></script>
</body>
</html>
