

.form {
  transition:all linear 0.5s;
  background: transparent;
}
.invalid {
  border: 1px red solid;
}
.required{
  color: red;
}
.panel{
  margin-top: 20px;
}

@media (min-width: 992px) {

  .col-md-offset-1 {
    margin-left: 0;
    margin-right: 0;
  }

}

nav {
  padding-top: 15px;
  text-align: right;
}

/* menu */

header .navbar-default {
  background-color: #fff;
}

header .navbar-toggle {
  background-color: #fff;
}
