<section>
  <div>
    <div class="col-md-12 col-md-offset-1">
      <h2 class="center">
        {{vm.title}}
      </h2>
      <div class="panel panel-default" ng-show="vm.editing">
        <div class="panel-body">
          <p ng-if="vm.error">
            {{vm.error}}
          </p>
          <div class="form-horizontal">
            <form name="form">
              <div class="col-xs-6">
                <div class="group">
                  <label>
                    Name
                  </label>
                  <span class="required" ng-show="form.name.$error.required">*</span>
                  <input class="form-control" data-ng-class="{'invalid' : form.attributes.name.$invalid && !form.attributes.name.$pristine}" data-ng-model="vm.form.attributes.name" name="name" ng-required="true" placeholder="What is the plaza name?" type="text" />
                </div>
              </div>
              <div class="col-xs-6">
                <div class="group">
                  <label>
                    Active
                  </label>
                  <span class="required" ng-show="form.active.$error.required">*</span>
                  <input class="form-control small" data-ng-class="{'invalid' : form.attributes.active.$invalid && !form.attributes.active.$pristine}" ng-model="vm.form.attributes.active" name="active" ng-required="true" placeholder="Is the plaza active?" type="checkbox" />
                </div>
              </div>
              <div class="col-xs-12">
                <div class="group">
                  <label>
                    Image URL
                  </label>
                  <span class="required" ng-show="form.attributes.image_url.$error.required">
                    *
                  </span>
                  <input class="form-control" data-ng-class="{'invalid' : form.attributes.image_url.$invalid && !form.attributes.image_url.$pristine}" data-ng-model="vm.form.attributes.image_url" name="image_url" ng-required="true" placeholder="What is the plaza image url?" type="text" />
                </div>
              </div>
              <div class="col-xs-12">
                <div class="group">
                  <label>
                    Description
                  </label>
                  <span class="required" ng-show="form.external_url.$error.required">
                    *
                  </span>
                  <input class="form-control" data-ng-class="{'invalid' : form.attributes.description.$invalid && !form.attributes.description.$pristine}" data-ng-model="vm.form.attributes.description" name="description" ng-required="true" placeholder="What is the plaza description?" type="text" />
                </div>
              </div>
              <div class="col-xs-6">
                <div class="group">
                  <label>
                    Event
                  </label>
                  <span class="required" ng-show="form.event_id.$error.required">
                    *
                  </span>
                  <select ng-model="vm.form.attributes.event_id" class="form-control" data-ng-class="{'invalid' : form.event_id.$invalid && !form.event_id.$pristine}" ng-required="true">
                    <option value="">Select the event</option>
                    <option ng-repeat="item in vm.events" ng-selected="item.event_id==vm.form.attributes.event_id" value="{{item.event_id}}">{{item.value}}</option>
                  </select>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="group">
                  <label>
                    Style
                  </label>
                  <span class="required" ng-show="form.css_style_id.$error.required">
                    *
                  </span>
                  <select ng-model="vm.form.attributes.css_style_id" class="form-control" data-ng-class="{'invalid' : form.css_style_id.$invalid && !form.css_style_id.$pristine}" ng-required="true">
                    <option value="">Select the style</option>
                    <option ng-repeat="item in vm.cssStyle" ng-selected="item.css_style_id==vm.form.attributes.css_style_id" value="{{item.css_style_id}}">{{item.value}}</option>
                  </select>
                </div>
              </div>
              <br/>
              <div class="group pull-right">
                <button class="btn btn-default btn-info" data-ng-click="vm.save(vm.form)" data-ng-disabled="!vm.editing || form.$invalid">
                  <i class="glyphicon glyphicon-floppy-save"></i>
                  Save
                </button>
                <button class="btn btn-default btn-default" data-ng-click="vm.cancel()" type="button">
                  <i class="glyphicon glyphicon-floppy-cancel"></i>
                  Cancel
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="panel panel-default" ng-show="!vm.editing">
        <div class="panel-body">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th colspan="8">
                  <input class="form-control col-lg-12" data-ng-model="searchUser" data-ng-model-options="vm.modelOptions" placeholder="Search">
                </input>
              </th>
              <th>
                <button class="btn btn-default btn-success pull-right" data-ng-click="vm.add()" name="add">
                  <i class="glyphicon glyphicon-plus"></i>
                  Add new
                </button>
                &nbsp;
              </th>
            </tr>
            <tr>
              <th>#</th>
              <th>EventId</th>
              <th>Name</th>
              <th>CssId</th>
              <th>Description</th>
              <th>ImageUrl</th>
              <th>Lat/Long</th>
              <th>Active</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="entry in vm.data | filter: searchUser">
              <td>{{entry.id}}</td>
              <td>{{entry.attributes.event_id}}</td>
              <td>{{entry.attributes.name}}</td>
              <td>{{entry.attributes.css_style_id}}</td>
              <td>{{entry.attributes.description}}</td>
              <td>{{entry.attributes.image_url}}</td>
              <td>{{entry.attributes.latitude}},{{entry.attributes.longitude}}</td>
              <td>{{entry.attributes.active ? 'Yes' : 'No'}}</td>
              <td>
                <button class="btn btn-info" data-ng-click="vm.edit(entry, entry.id)" name="action" type="submit">
                  <i class="glyphicon glyphicon-pencil"></i>
                </button>
                <button class="btn btn-danger" data-ng-click="vm.remove(entry)" name="action" type="submit">
                  <i class="glyphicon glyphicon-remove"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</section>
