<section class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel">
      <img src="http://latincouver.er7.ca/1.0/assets/images/logo.png" class="logo center-block" />
    </div>
    <div class="panel-body text-center">
      <form method="post" ng-submit="vm.login()" name="loginForm">
        <div class="form-group">
          <div class="group">
            Username
            <input class="form-controls input-lg" type="username" name="username" ng-model="vm.loginForm.username" placeholder="Username" style="background-color:rgba(0,0,0,0) !important;border:none !important;box-shadow:none !important;" required autofocus/>
          </div>
        </div>
        <div class="form-group">
          <div class="group">
            Password
            <input class="form-controls input-lg" type="password" name="password" ng-model="vm.loginForm.password" placeholder="Password" style="background-color:rgba(0,0,0,0) !important;border:none !important;box-shadow:none !important;" required autofocus/>
          </div>
        </div>
        <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-lg btn-block btn-primary">
          Log in
        </button>
      </form>
    </div>
  </div>
</section>
