<section>
  <h2 class="center">
    {{vm.title}}
  </h2>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-xs-12 group">
        <nav ng-show="!vm.editing">
          <button class="btn btn-info" data-ng-click="vm.edit()" name="action" type="submit">
            <i class="glyphicon glyphicon-pencil"></i>
          </button>
        </nav>
      </div>
      <p ng-if="vm.error">{{vm.error}}</p>
      <div class="form-horizontal">
        <form name="form">
          <div class="col-xs-12">
            <div class="group">
              <label>CSS style Id</label>
              <span class="required" ng-show="form.css_style_id.$error.required">*</span>
              <input class="form-control" data-ng-class="{'invalid' : form.css_style_id.$invalid && !form.name.$pristine}" data-ng-model="vm.form.attributes.css_style_id" name="css_style_id" ng-required="true" type="text" />
            </div>
          </div>
          <div class="col-xs-12">
            <div class="group">
              <label>Main title</label>
              <span class="required" ng-show="form.main_title.$error.required">*</span>
              <input class="form-control" data-ng-class="{'invalid' : form.main_title.$invalid && !form.main_title.$pristine}" data-ng-model="vm.form.attributes.main_title" name="main_title" type="text" />
            </div>
          </div>
          <div class="col-xs-12 group">
            <nav ng-show="vm.editing">
              <button class="btn btn-default btn-info" data-ng-click="vm.save(vm.form)" data-ng-disabled="!vm.editing || form.$invalid">
                <i class="glyphicon glyphicon-floppy-save"></i>
                Save
              </button>
              <button class="btn btn-default btn-default" data-ng-click="vm.cancel(vm.form)" type="button">
                <i class="glyphicon glyphicon-floppy-cancel"></i>
                Cancel
              </button>
            </nav>
          </div>
          <br/>
          <span class="small" ng-if="vm.auth_token">
            <h6>
              This is the token for the user, please copy this data, otherwise the authenticate service will need to be called:
              <br/>
              <b>
                auth_token:
              </b>
              {{vm.auth_token}}
            </h6>
          </span>
        </form>
      </div>
    </div>
  </div>
</section>