<section>
  <div>
    <div class="col-md-10 col-md-offset-1">
      <h2 class="center">
        {{vm.title}}
      </h2>
      <div class="panel panel-default" ng-show="vm.editing">
        <div class="panel-body">
          <p ng-if="vm.error">
            {{vm.error}}
          </p>
          <div class="form-horizontal">
            <form name="form">
              <div class="col-xs-6">
                <div class="group">
                  <label>
                    EventId
                  </label>
                  <span class="required" ng-show="form.eventId.$error.required">*</span>
                  <input class="form-control" data-ng-class="{'invalid' : form.eventId.$invalid && !form.eventId.$pristine}" data-ng-model="vm.form.eventId" name="eventId" ng-required="true" placeholder="What is the event id?" type="text"></input>
              </div>
            </div>
              <div class="col-xs-6">
                <div class="group">
                  <label>
                    Name
                  </label>
                  <span class="required" ng-show="form.name.$error.required">*</span>
                  <input class="form-control" data-ng-class="{'invalid' : form.name.$invalid && !form.name.$pristine}" data-ng-model="vm.form.name" name="name" ng-required="true" placeholder="What is the plaza name?" type="text"></input>
              </div>
            </div>
            <div class="col-xs-6">
                <div class="group">
                  <label>
                    CssClassId
                  </label>
                  <span class="required" ng-show="form['cssClassId'].$error.required">*</span>
                  <input class="form-control" data-ng-class="{'invalid' : form['cssClassId'].$invalid && !form['cssClassId'].$pristine}" data-ng-model="vm.form['cssClassId']" name="cssClassId" ng-required="true" placeholder="What is the css id?" type="text"></input>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="group">
                <label>
                  Image URL
                </label>
                <span class="required" ng-show="form['image-url'].$error.required">
                  *
                </span>
                <input class="form-control" data-ng-class="{'invalid' : form['imageUrl'].$invalid && !form['imageUrl'].$pristine}" data-ng-model="vm.form['imageUrl']" name="imageUrl" ng-required="true" placeholder="What is the plaza image url?" type="text">
              </input>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="group">
              <label>
                Description
              </label>
              <span class="required" ng-show="form.external_url.$error.required">
                *
              </span>
              <input class="form-control" data-ng-class="{'invalid' : form.description.$invalid && !form.description.$pristine}" data-ng-model="vm.form.description" name="description" ng-required="true" placeholder="What is the plaza description?" type="text">
            </input>
          </div>
        </div>
    <div class="col-xs-6">
      <div class="group">
        <label>
          Active
        </label>
        <span class="required" ng-show="form.active.$error.required">*</span>
        <input class="form-control" data-ng-class="{'invalid' : form.active.$invalid && !form.active.$pristine}" ng-model="vm.form.active" name="active" ng-required="true" placeholder="Is the plaza active?" type="checkbox">
      </input>
    </div>
  </div>
  <br/>
  <div class="group pull-right">
    <button class="btn btn-default btn-info" data-ng-click="vm.save(vm.form)" data-ng-disabled="!vm.editing || form.$invalid">
      <i class="glyphicon glyphicon-floppy-save"></i>
      Save
    </button>
    {{}}
  </div>
  <br/>
  <span class="small" ng-if="vm.auth_token">
    <h6>
      This is the token for the user, please copy this data, otherwise the authenticate service will need to be called:
      <br/>
      <b>
        auth_token:
      </b>
      {{vm.auth_token}}
    </h6>
  </span>
</form>
</div>
</div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th colspan="7">
            <input class="form-control col-lg-12" data-ng-model="searchUser" data-ng-model-options="vm.modelOptions" placeholder="Search">
          </input>
        </th>
        <th>
          <button class="btn btn-default btn-success pull-right" data-ng-click="vm.add()" name="add" ng-show="!vm.editing">
            <i class="glyphicon glyphicon-plus"></i>
          </button>
          &nbsp;
        </th>
      </tr>
      <tr>
        <th>#</th>
        <th>EventId</th>
        <th>Name</th>
        <th>CssId</th>
        <th>Description</th>
        <th>ImageUrl</th>
        <th>Active</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="entry in vm.data | filter: searchUser">
        <td>{{entry.id}}</td>
        <td>{{entry.eventId}}</td>
        <td>{{entry.name}}</td>
        <td>{{entry.cssClassId}}</td>
        <td>{{entry.description}}</td>
        <td>{{entry.imageUrl}}</td>
        <td>{{entry.active ? 'Yes' : 'No'}}</td>
        <td>
          <button class="btn btn-info" data-ng-click="vm.edit(entry, entry.id)" name="action" type="submit">
            <i class="glyphicon glyphicon-pencil"></i>
          </button>
          <button class="btn btn-danger" data-ng-click="vm.remove(entry)" name="action" type="submit">
            <i class="glyphicon glyphicon-remove"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>
</div>
</section>